In [1]:
import pandas as pd
df=pd.read_csv("final_food_delivery_dataset.csv")

In [2]:
gold_city=(df[df["membership"]=="Gold"].groupby("city")["total_amount"].sum().sort_values(ascending=False).head(1))
print("City with highest gold revenue:")
print(gold_city)

City with highest gold revenue:
city
Chennai    1080909.79
Name: total_amount, dtype: float64

In [3]:
top_cuisine=(df.groupby("cuisine")["total_amount"].mean().sort_values(ascending=False).head(1) )
print(top_cuisine)

cuisine
Mexican    808.021344
Name: total_amount, dtype: float64

In [4]:
count_users=(df.groupby("user_id")["total_amount"].sum().gt(1000).sum())
print(count_users)

2544

In [5]:
df["rating_range"]=pd.cut(df["rating"],bins=[3.0,3.5,4.0,4.5,5.0],labels=["3.0-3.5","3.6-4.0","4.1-4.5","4.6-5.0"])
top_rating=df.groupby("rating_range")["total_amount"].sum().idxmax()
print(top_rating)

4.6-5.0

In [6]:
print(df[df["membership"]=="Gold"].groupby("city")["total_amount"].mean().idxmax())

Chennai

In [7]:
print(round(df[df.membership=='Gold'].order_id.nunique() / df.order_id.nunique()*100))

50

In [8]:
print(df.groupby('restaurant_name_x').agg(o=('order_id','nunique'),aov=('total_amount','mean')).query('o<20').sort_values('aov',ascending=False))

                                    o          aov
restaurant_name_x
Hotel Dhaba Multicuisine           13  1040.222308
Sri Mess Punjabi                   12  1029.180833
Ruchi Biryani Punjabi              16  1002.140625
Sri Delights Pure Veg              18   989.467222
Classic Kitchen Family Restaurant  19   973.167895
...                                ..          ...
Annapurna Tiffins Punjabi          19   621.828947
Darbar Tiffins Non-Veg             18   596.815556
Darbar Restaurant Punjabi          14   589.972857
Spice Tiffins Pure Veg             15   578.578667
Ruchi Mess Punjabi                 17   572.686471

[170 rows x 2 columns]

In [9]:
print(df.groupby(['membership','cuisine'])['total_amount'].sum().idxmax())

('Regular', 'Mexican')

In [10]:
print(df.assign(q=pd.to_datetime(df['order_date']).dt.to_period('Q')).groupby('q')['total_amount'].sum().idxmax)

<bound method Series.idxmax of q
2023Q1    1993425.14
2023Q2    1945348.72
2023Q3    2037385.10
2023Q4    2018263.66
2024Q1      17201.50
Freq: Q-DEC, Name: total_amount, dtype: float64>

/tmp/ipykernel_7610/132431772.py:1: UserWarning: Parsing dates in %d-%m-%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  print(df.assign(q=pd.to_datetime(df['order_date']).dt.to_period('Q')).groupby('q')['total_amount'].sum().idxmax)

In [11]:
print(df[df['membership']=='Gold'].shape[0])

4987

In [12]:
print(round(df[df['city']=='Hyderabad']['total_amount'].sum()))

1889367

In [13]:
print(df['user_id'].nunique())

2883

In [14]:
print(round(df[df['membership']=='Gold']['total_amount'].mean(),2))

797.15

In [15]:
print(df[df['rating']>=4.5].shape[0])

3374

In [16]:
print(df[(df['membership']=='Gold')&(df['city']==df[df['membership']=='Gold'].groupby('city')['total_amount'].sum().idxmax())].shape[0])

1337

In [17]:
print(df.shape[0])

10000